<!DOCTYPE html>
<html>
<head>
    <title>Entry Mangement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/assets/landingheader.css">
	<link rel="stylesheet" href="/stylesheets/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
</head>

<body class="newvisitor" >
	<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="https://www.innovaccer.com/static/image/site-logo/innovaccer-logo-black.svg" ></a>
            </div>
           
			<div class="collapse navbar-collapse">      
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://www.innovaccer.com/about-us/"><i class="zmdi zmdi-accounts-alt"></i>About Us</a></li>
                    <li><a href="https://www.innovaccer.com/blogs/"><i class="zmdi zmdi-bookmark"></i>Blogs</a></li>
                    <li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
 
           <!-- New visitor check-in form  Form -->
           <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="/stylesheets/assets/images/signup-image.jpg" alt="sing up image"></figure>
                        </div>
    
                        <div class="signin-form">
                            <h2 class="form-title">New Visitor</h2>
                            <form method="POST" action="/visitors" class="register-form" id="login-form">
                                <div class="form-group">
                                   <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="name" id="your_name" placeholder="Name" class="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                     <input  type="email" name="email" placeholder="Email"class="required" id="email"/>
                                </div>
                                <div class="form-group">
                                    <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                    <input  type="tel" name="phone" placeholder="Phone" class="required">
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="check-in" id="signin" class="form-submit" value="Check-In"/>
                                </div>
                            </form>
                        </div>
                    </div>
              
            </div>
        </section>
    
        </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
<script src="/stylesheets/js/main.js"></script>
<%- include ('partials/footer') %>


<!-- <div>
        <header class="page-header">
             <h1 style="text-align: center"> Welcome to Innovaccer</h1>    
        </header>
     </div>   -->
     <!-- <br>   -->